<div class="header">
  <h1>Users</h1>
  <div class="search-form">
    <i class="material-icons">search</i>
    <input type="text" placeholder="search" />
  </div>
</div>

<div class="user-list">
  <div *ngFor="let user of userList" class="user">
    <div class="data">
      <div class="lefter">
        <div
          class="avatar"
          [ngStyle]="{ 'background-image': 'url(' + user.avatar + ')' }"
        ></div>
      </div>
      <div class="righter">
        <p class="name">{{ user.first_name }} {{ user.last_name }}</p>
        <p class="email">{{ user.email }}</p>
      </div>
    </div>
    <div class="actions">
      <button (click)="onEdit(user)" class="main">Edit</button>
      <button class="danger">Delete</button>
    </div>
  </div>
</div>

<app-edit-user
  *ngIf="editUser"
  [user]="editUser"
  (closed)="onUpdateComplete($event)"
></app-edit-user>
